<table class="table table-responsive table-bordered {{ table_classes }}">
    <thead>
        <tr>
            <th>Address</th>
            <th>Primary</th>
        </tr>
    </thead>
    <tbody>
        {% for address in address_list %}
        <tr>
            <td>{{ address }}</td>
            <td>{{ address.primary }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
