<div class="box">
    <div class="box-header">
        <h3 class="box-title">Emails</h3>
    </div>
    <div class="box-body">
        <table class="table table-responsive table-bordered {{ table_classes }}">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Primary</th>
                </tr>
            </thead>
            <tbody>
                {% for email in email_list %}
                {% if not active_only or email.active %}
                <tr>
                    <td>{{ email }}</td>
                    <td>{{ email.primary }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <form action="{{ action_url }}" method="post">
            <div class="input-group">
                <input type="email" class="form-control" id="{{ form.email.id_for_label }}" placeholder="{{ form.email.label }}">
                <span class="input-group-btn">
                    <button class="btn btn-success">Add</button>
                </span>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
