<div class="box">
    <div class="box-header">
        <h3 class="box-title">Memberships</h3>
    </div>
    <div class="box-body">
        <table class="table table-responsive table-bordered {{ table_classes }}">
            <thead>
            <tr>
                <th>Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for membership in membership_list %}
                <tr>
                    <td>{{ membership.membership_type }}</td>
                    <td>{{ membership.start_date }}</td>
                    <td>{{ membership.end_date }}</td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>

            <form action="{{ action_url }}" method="post">
            <tfoot>
            <tr>
                <td>
                    <select name="membership_type_id">
                        {% for membership_type in membership_types %}
                            <option value="{{ membership_type.id }}">{{ membership_type.name }}
                                ({{ membership_type.period }})
                            </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <input type="date" name="start_date">
                </td>
                <td>
                    <input type="date" name="end_date">
                </td>
                <td>
                    {% csrf_token %}
                    <input type="hidden" name="member_id" value="{{ member.id }}">
                    <button type="submit" class="btn btn-success">Add</button>
                </td>
            </tr>
            </tfoot>
            </form>
        </table>
    </div>
</div>
