<table class="table table-responsive table-bordered {{ table_classes }}">
    <thead>
    <tr>
        <th>Type</th>
        <th>Start Date</th>
        <th>End Date</th>
    </tr>
    </thead>
    <tbody>
    {% for membership in membership_list %}
        <tr>
            <td>{{ membership.membership_type }}</td>
            <td>{{ membership.start_date }}</td>
            <td>{{ membership.end_date }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
