<div class="box">
    <div class="box-header">
        <h3 class="box-title">Phones</h3>
    </div>
    <div class="box-body">
        <table class="table table-responsive table-bordered {{ table_classes }}">
            <thead>
            <tr>
                <th>Phone</th>
                <th>Text only</th>
                <th>Primary</th>
            </tr>
            </thead>
            <tbody>
            {% for phone in phone_list %}
                {% if not active_only or phone.active %}
                    <tr>
                        <td>{{ phone }}</td>
                        <td>{{ phone.text_only }}</td>
                        <td>{{ phone.primary }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="box-footer">
        <form action="{{ action_url }}" method="post">
            <div class="input-group">
                <span class="input-group-addon">
                    <input type="checkbox" id="{{ form.text_only.id_for_label }}" name="{{ form.text_only.name }}" style="position: relative; vertical-align: middle; bottom: 1px;">
                    <label for="{{ form.text_only.id_for_label }}">{{ form.text_only.label }}</label>
                </span>
                <input type="tel" class="form-control" id="{{ form.phone.id_for_label }}" placeholder="{{ form.phone.label }}">
                <span class="input-group-btn">
                    <button class="btn btn-success pull-right">Add</button>
                </span>
            </div>
            {% csrf_token %}
        </form>
    </div>
</div>
