{% extends 'site_base.html' %}

{% block content %}
    <div class="box box-info">
        <div class="box-body">
            <a href="{% url 'member:add' %}" class="btn btn-success">
                <i class="fa fa-plus-circle"></i>
                Add member
            </a>
            <table class="table table-responsive table-bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    {% for member in member_list %}
                    <tr>
                        <td></td>
                        <td>
                            <a href="{% url 'member:item' member.id %}">{{ member }}</a>
                        </td>
                        <td>{{ member.emails.first }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="3">No members</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
