{% extends 'site_base.html' %}

{% block header-title %}Member{% endblock %}

{% block header-subtitle %}{{ member.get_full_name }}{% endblock %}

{% block content %}
<div class="box">
    <div class="box-body">
        <dl>
            <dt>Name</dt>
            <dd>{{ member.get_full_name }}</dd>
        </dl>
    </div>
</div>

{% include 'member/partials/membership_box.html' with membership_list=member.memberships.all %}

<div class="row">
    <div class="col-md-6">
        {% include 'member/partials/phone_box.html' with phone_list=member.phones.all active_only=1 form=phone_form %}
    </div>
    <div class="col-md-6">
        {% include 'member/partials/email_box.html' with email_list=member.emails.all active_only=1 form=email_form %}
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Addresses</h3>
    </div>
    <div class="box-body">
        {% include 'member/partials/address_table.html' with address_list=member.addresses.all active_only=1 %}
    </div>
    <div class="box-footer"></div>
</div>
{% endblock %}
