{% extends 'site_base.html' %}

{% block header-title %}Add member{% endblock %}

{% block content %}
    <div class="box">
        <form class="form-horizontal" action="{% url 'member:add' %}" method="post">
            <div class="box-body">
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}" class="col-sm-2 control-label">{{ field.label }}</label>
                    <div class="col-sm-10">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="box-footer">
                {% csrf_token %}
                <a class="btn btn-link" href="{% url 'member:index' %}">Back to list</a>
                <button class="btn btn-success">Add</button>
            </div>
        </form>
    </div>
{% endblock %}
