{% extends 'site_base.html' %}

{% block header-title %}Account{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {% include 'account/partials/profile_box.html' %}
            {% include 'account/partials/profile_links.html' %}
        </div>
        <div class="col-md-9">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#activity" data-toggle="tab">Activity</a></li>
                    <li><a href="#timeline" data-toggle="tab">Timeline</a></li>
                    <li><a href="#settings" data-toggle="tab">Settings</a></li>
                </ul>
                <div class="tab-content">
                    <div id="activity" class="active tab-pane"></div>
                    <div id="timeline" class="tab-pane"></div>
                    <div id="settings" class="tab-pane"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
